Repository assemblee-virtuelle/Semantic-Bus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-team/semantic-bus-maintainers, @your-team/engine-team, @your-team/backend-team, @your-team/utils-team, @your-team/qa-team, @your-team/devops-team, @your-team/documentation-team, @your-team/security-team

fix(admin): garde owner de suppression — utilise $elemMatch (faux positif)
  packages/core/__tests__/lib/user_lib.admin.test.js
  packages/core/lib/user_lib.js
Owners: @your-team/semantic-bus-maintainers

release: bump to v0.11.9 (fix garde owner suppression)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

fix(security): confused deputy sur les routes sœurs — cible liée à req.params.id
  packages/core/__tests__/lib/workspace_component_security.test.js
  packages/core/lib/workspace_component_lib.js
  packages/main/__tests__/server/workspaceSecurity.test.js
  packages/main/server/workspaceWebService.js
Owners: @your-team/semantic-bus-maintainers

release: bump to v0.11.10 (fix confused deputy routes sœurs)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

fix(security): désactive les routes legacy bigdataflow (confused deputy latent)
  packages/main/app.js
  packages/main/server/bigdataflowService.js
Owners: @your-team/semantic-bus-maintainers

release: bump to v0.11.11 (désactive bigdataflow legacy)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

fix(security): admin-only routes de maintenance + IDOR de lecture fichiers (SB-IDOR-2026-01)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/__tests__/server/adminWebServiceSecurity.test.js
  packages/main/__tests__/server/fileWebservicesSecurity.test.js
  packages/main/package.json
  packages/main/server/adminWebService.js
  packages/main/server/fileWebservices.js
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

fix(security): upload réservé aux owner/editor du workflow + fichiers liés au workspace
  CHANGELOG.md
  package.json
  packages/core/db/scylla_admin.js
  packages/core/model_schemas/file_schema_scylla.js
  packages/core/models/file_model_scylla.js
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/__tests__/server/fileWebservicesSecurity.test.js
  packages/main/__tests__/server/uploadSecurity.test.js
  packages/main/package.json
  packages/main/server/fileWebservices.js
  packages/main/server/workspaceComponentInitialize/upload.js
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

fix(security): cible composant dans l'URL (componentId) — élimine body._id
  packages/main/__tests__/server/workspaceSecurity.test.js
  packages/main/client/static/store/workspaceStore.js
  packages/main/server/bigdataflowService.js
  packages/main/server/workspaceWebService.js
Owners: @your-team/semantic-bus-maintainers

release: bump to v0.11.14 (componentId in URL)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

fix(filter): accepte les items tableau (lignes xlsx/csv) — enveloppe _wrapped
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/__tests__/workspaceComponentExecutor/filter.test.js
  packages/engine/package.json
  packages/engine/workspaceComponentExecutor/filter.js
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

fix(security): fail-closed sur composants sans workspaceId (orphelins) + backfill (SB-IDOR-2026-01)
  Makefile
  advisories/SB-IDOR-2026-01/2026-08-idor-workspace-import.md
  packages/core/__tests__/lib/workspace_component_security.test.js
  packages/core/lib/workspace_component_lib.js
  packages/main/__tests__/server/workspaceSecurity.test.js
  packages/main/scripts/backfillOrphanComponents.js
  packages/main/server/workspaceWebService.js
Owners: @your-team/devops-team, @your-team/documentation-team, @your-team/semantic-bus-maintainers

release: bump to v0.11.16 (fail-closed composants orphelins)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

docs: précise que le backfill des orphelins est une migration one-shot (plus nécessaire ≥ v0.11.16)
  Makefile
  advisories/SB-IDOR-2026-01/2026-08-idor-workspace-import.md
  packages/main/scripts/backfillOrphanComponents.js
Owners: @your-team/devops-team, @your-team/documentation-team, @your-team/semantic-bus-maintainers

fix(backfill): ferme la connexion Mongo pour que le process se termine seul (node -e)
  packages/main/scripts/backfillOrphanComponents.js
Owners: @your-team/semantic-bus-maintainers

fix(timer): use this.hmac_lib instead of bare hmac_lib (ReferenceError)
  packages/core/timerScheduler.js
Owners: @your-team/semantic-bus-maintainers

security(eval): validateur 100 % whitelist + raw-eval éliminé (SB-RCE-2026-01)
  advisories/SB-RCE-2026-01/2026-08-semantic-bus-rce-eval.md
  package-lock.json
  packages/engine/__tests__/utils/objectTransformationV2.test.js
  packages/engine/__tests__/utils/validateExpression.test.js
  packages/engine/__tests__/utils/whereWorker.test.js
  packages/engine/package.json
  packages/engine/utils/__mocks__/evalSecurity.js
  packages/engine/utils/evalSecurity.js
  packages/engine/utils/evalWorker.js
  packages/engine/utils/objectTransformationV2.js
  packages/engine/utils/validateExpression.js
  packages/engine/utils/workerGlobals.js
  packages/eval-service/evalWorker.js
  packages/eval-service/package.json
  packages/eval-service/secureContext.js
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

release: bump to v0.11.17 (hardening validateur RCE)
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/semantic-bus-maintainers

release: bump racine monorepo à 0.11.17 (alignement packages)
  package.json
Owners: @your-team/semantic-bus-maintainers

docs(security): contact de signalement + scope divulgation (SECURITY.md)
  SECURITY.md
Owners: @your-team/documentation-team

security(eval): clés computed — fail-closed + flux de valeur (SB-RCE-2026-01, review 2026-08-26)
  packages/engine/__tests__/utils/validateExpression.test.js
  packages/engine/utils/validateExpression.js
Owners: @your-team/semantic-bus-maintainers

release: bump to v0.11.18 (clés computed fail-closed)
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/semantic-bus-maintainers

docs(advisory): SB-RCE-2026-01 — fail-closed clés computed + patched v0.11.18
  advisories/SB-RCE-2026-01/2026-08-semantic-bus-rce-eval.md
Owners: @your-team/documentation-team

docs(advisory): SB-RCE-2026-01 — dates fail-closed v0.11.18 (2026-09-09)
  advisories/SB-RCE-2026-01/2026-08-semantic-bus-rce-eval.md
Owners: @your-team/documentation-team

fix(eval-service): aligne la limite de corps sur l'engine (100mb)
  docker-compose.yaml
  packages/eval-service/app.js
Owners: @your-team/semantic-bus-maintainers

.github/CODEOWNERS:

# Code Owners pour Semantic Bus Engine
# Ces utilisateurs seront automatiquement demand√©s pour review

# Global owners
* @your-team/semantic-bus-maintainers

# Engine core
/engine/ @your-team/engine-team
/engine/services/ @your-team/backend-team
/engine/utils/ @your-team/utils-team

# Tests
/tests/ @your-team/qa-team
/.github/workflows/ @your-team/devops-team

# Configuration et documentation
/docker-compose*.yml @your-team/devops-team
/Dockerfile @your-team/devops-team
/Makefile @your-team/devops-team
*.md @your-team/documentation-team

# Security sensitive files
/engine/security/ @your-team/security-team
/.github/ @your-team/devops-team
