Repository assemblee-virtuelle/Semantic-Bus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-team/semantic-bus-maintainers, @your-team/engine-team, @your-team/backend-team, @your-team/utils-team, @your-team/qa-team, @your-team/devops-team, @your-team/documentation-team, @your-team/security-team

fix: validate item is object before processing in joinWithLoki
  packages/engine/workspaceComponentExecutor/joinByField.js
Owners: @your-team/semantic-bus-maintainers

chore: update lock file after dependency cleanup
  package-lock.json
  packages/engine/workspaceComponentExecutor/joinByField.js
  packages/main/server/workspaceComponentInitialize/httpProvider.js
Owners: @your-team/semantic-bus-maintainers

fix: improve error handling in joinByField for non-object data (#426)
  packages/core/package.json
  packages/core/timerScheduler.js
  packages/engine/__tests__/scrapper.test.js
  packages/engine/app.js
  packages/engine/package.json
  packages/engine/workspaceComponentExecutor/joinByField.js
  packages/main/app.js
  packages/main/package.json
  packages/main/report.20221005.230231.45.0.001.json
  packages/main/report.html
  packages/main/server/workspaceComponentInitialize/httpProvider.js
  packages/main/server/workspaceComponentInitialize/upload.js
Owners: @your-team/semantic-bus-maintainers

Fix: Google Auth scope parameter missing in OAuth request
  packages/main/client/static/tag/editorComponents/auth/google-auth-editor.tag
  packages/main/server/workspaceComponentInitialize/googleAuth.js
Owners: @your-team/semantic-bus-maintainers

Fix: Google Auth scope parameter missing in OAuth request (#427)
  packages/main/client/static/tag/editorComponents/auth/google-auth-editor.tag
  packages/main/server/workspaceComponentInitialize/googleAuth.js
Owners: @your-team/semantic-bus-maintainers

feat: improve orphan component cleanup and InfluxDB error handling
  packages/core/lib/workspace_component_lib.js
  packages/core/timerScheduler.js
  packages/engine/workspaceComponentExecutor/influxdb.js
Owners: @your-team/semantic-bus-maintainers

feat: improve orphan component cleanup and InfluxDB error handling (#428)
  packages/core/lib/workspace_component_lib.js
  packages/core/timerScheduler.js
  packages/engine/workspaceComponentExecutor/influxdb.js
Owners: @your-team/semantic-bus-maintainers

feat: add option to include request in httpConsumer output
  packages/engine/workspaceComponentExecutor/httpConsumer.js
  packages/main/client/static/tag/editorComponents/dataFlow/http-consumer-editor.tag
  packages/main/server/workspaceComponentInitialize/googleAuth.js
Owners: @your-team/semantic-bus-maintainers

fix: align framacalc editor tag filename with server reference
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/main/client/static/application.html
  packages/main/client/static/tag/editorComponents/dataFlow/framcalc-get-csv-editor.tag
  packages/main/package.json
  packages/main/server/workspaceComponentInitialize/framcalcGetCsv.js
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

fix: restore archived editor tags for gouvFrGeoLocaliserMass and xmlToObject
  packages/main/client/static/application.html
  packages/main/client/static/tag/data-gouv-geolocaliser-mass-editor.tag
  packages/main/client/static/tag/xml-property-to-object-editor.tag
Owners: @your-team/semantic-bus-maintainers

fix: handle archived editor tags gracefully instead of crashing
  packages/main/client/static/application.html
  packages/main/client/static/tag/data-gouv-geolocaliser-mass-editor.tag
  packages/main/client/static/tag/workspaceComponentEditor.tag
  packages/main/client/static/tag/xml-property-to-object-editor.tag
  packages/main/server/workspaceComponentInitialize/gouvFrGeoLocaliserMass.js
  packages/main/server/workspaceComponentInitialize/xmlToObject.js
Owners: @your-team/semantic-bus-maintainers

fix: correct framacalc editor tag name to match production database
  packages/main/client/static/application.html
  packages/main/client/static/tag/editorComponents/dataFlow/framacalc-get-csv-editor.tag
  packages/main/server/workspaceComponentInitialize/framcalcGetCsv.js
Owners: @your-team/semantic-bus-maintainers

fix: correct framacalc editor tag name to match production database
  packages/main/client/static/application.html
  packages/main/client/static/tag/editorComponents/dataFlow/framacalc-get-csv-editor.tag
  packages/main/server/workspaceComponentInitialize/framcalcGetCsv.js
Owners: @your-team/semantic-bus-maintainers

chore: bump version to 0.11.0 and update changelog
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

fix: executeAllTimers send proper request body with pushData and queryParams
  packages/core/lib/workspace_lib.js
Owners: @your-team/semantic-bus-maintainers

fix: guard client.close() against undefined when MongoDB init fails
  packages/engine/workspaceComponentExecutor/MongoDB.js
Owners: @your-team/semantic-bus-maintainers

fix: send error response instead of swallowing fragment fetch error
  packages/main/server/workspaceWebService.js
Owners: @your-team/semantic-bus-maintainers

chore: remove sift and V1 engine, add eval-service workspace and lockfile
  .github/workflows/tests.yml
  package-lock.json
  packages/core/package.json
  packages/engine/__tests__/README_TESTS_DISABLED.md
  packages/engine/__tests__/utils/objectTransformation-unitaires.test.js.disabled
  packages/engine/__tests__/utils/objectTransformation.test.js.disabled
  packages/engine/__tests__/utils/stringReplacer.test.js.disabled
  packages/engine/package.json
  packages/engine/utils/objectTransformation.js
  packages/eval-service/Dockerfile
  packages/eval-service/__tests__/eval-service.integration.test.js
  packages/eval-service/app.js
  packages/eval-service/evalWorker.js
  packages/eval-service/package.json
  packages/eval-service/whereWorker.js
  packages/eval-service/workerGlobals.js
Owners: @your-team/devops-team, @your-team/semantic-bus-maintainers, @your-team/documentation-team

docs: update spec §8 — /eval-service, compat matrix 8604, crypto exposed
  specifications/security-eval-and-code-execution.md
Owners: @your-team/documentation-team

feat(core): remove sift, add HMAC/engine-work-auth/specificData/amqp security libs
  packages/core/__tests__/lib/amqpUrl.test.js
  packages/core/__tests__/lib/engineWorkAuth.test.js
  packages/core/__tests__/lib/hmac_lib.test.js
  packages/core/__tests__/lib/specificDataValidator.test.js
  packages/core/lib/amqpUrl.js
  packages/core/lib/bigdataflow_lib.js
  packages/core/lib/engineWorkAuth.js
  packages/core/lib/hmac_lib.js
  packages/core/lib/specificDataValidator.js
  packages/core/lib/user_lib.js
  packages/core/lib/workspace_component_lib.js
  packages/core/lib/workspace_lib.js
  packages/core/timerScheduler.js
Owners: @your-team/semantic-bus-maintainers

feat(engine): secure eval sinks — AST validation, worker/remote execution, HMAC auth
  packages/engine/__tests__/utils/compatibilityMatrix.test.js
  packages/engine/__tests__/utils/mongoQueryExecutor.test.js
  packages/engine/__tests__/utils/objectTransformationV2.test.js
  packages/engine/__tests__/utils/validateExpression.test.js
  packages/engine/__tests__/utils/whereWorker.test.js
  packages/engine/__tests__/workspaceComponentExecutor/arraySplitByCondition.test.js
  packages/engine/__tests__/workspaceComponentExecutor/filter.test.js
  packages/engine/__tests__/workspaceComponentExecutor/joinByField.test.js
  packages/engine/__tests__/workspaceComponentExecutor/regex.test.js
  packages/engine/__tests__/workspaceComponentExecutor/unicity.test.js
  packages/engine/app.js
  packages/engine/communication/index.js
  packages/engine/services/engine.js
  packages/engine/utils/__mocks__/evalSecurity.js
  packages/engine/utils/evalSecurity.js
  packages/engine/utils/evalWorker.js
  packages/engine/utils/mongoQueryExecutor.js
  packages/engine/utils/objectTransformationV2.js
  packages/engine/utils/regexWorker.js
  packages/engine/utils/validateExpression.js
  packages/engine/utils/whereWorker.js
  packages/engine/utils/workerGlobals.js
  packages/engine/workspaceComponentExecutor/MongoDB.js
  packages/engine/workspaceComponentExecutor/arraySplitByCondition.js
  packages/engine/workspaceComponentExecutor/filter.js
  packages/engine/workspaceComponentExecutor/joinByField.js
  packages/engine/workspaceComponentExecutor/jsEvaluation.js
  packages/engine/workspaceComponentExecutor/objectTransformer.js
  packages/engine/workspaceComponentExecutor/queryParamsCreation.js
  packages/engine/workspaceComponentExecutor/regex.js
  packages/engine/workspaceComponentExecutor/sort.js
  packages/engine/workspaceComponentExecutor/unicity.js
Owners: @your-team/semantic-bus-maintainers

feat(main/timer): JWT STOMP credentials, IP rate-limit, signed work-ask
  packages/main/app.js
  packages/main/client/static/application.html
  packages/main/client/static/store/workspaceStore.js
  packages/main/config.json
  packages/main/server/authWebService.js
  packages/main/server/utils/rateLimiter.js
  packages/main/server/workspaceComponentInitialize/httpProvider.js
  packages/main/server/workspaceComponentInitialize/upload.js
  packages/timer/app.js
Owners: @your-team/semantic-bus-maintainers

feat(infra): secure RabbitMQ (stomp-user, guest removed) + eval-service service
  .gitignore
  Makefile
  docker-compose-host.yaml
  docker-compose-network.yaml
  docker-compose.yaml
  rabbit/entrypoint.sh
  rabbit/hash_password.py
  rabbit/rabbitmq-definitions.json
  rabbit/rabbitmq.conf
Owners: @your-team/semantic-bus-maintainers, @your-team/devops-team

docs: security policy, coordinated disclosure advisory, prod compat matrix
  SECURITY.md
  advisories/2026-08-semantic-bus-rce-eval.md
  session-recovery.md
  specifications/compatibility-matrix-prod.md
Owners: @your-team/documentation-team

chore: ignore local dev tooling (graph/filter proxies, graphify-out, playwright logs)
  .gitignore
Owners: @your-team/semantic-bus-maintainers

fix: launch dev stack — rabbitmq entrypoint/config, engineWorkAuth decoupling, scylla tablets
  docker-compose-host.yaml
  docker-compose-network.yaml
  docker-compose.yaml
  init-scripts/scylla-initdb.cql
  packages/core/__tests__/lib/engineWorkAuth.test.js
  packages/core/lib/engineWorkAuth.js
  rabbit/entrypoint.sh
  rabbit/rabbitmq.conf
Owners: @your-team/semantic-bus-maintainers

refactor(rabbitmq): use plaintext password in definitions, drop hash generation
  Makefile
  rabbit/hash_password.py
  rabbit/rabbitmq-definitions.json
  session-recovery.md
Owners: @your-team/devops-team, @your-team/semantic-bus-maintainers, @your-team/documentation-team

fix(client): guard STOMP client usage before connection is established
  packages/main/client/static/store/workspaceStore.js
Owners: @your-team/semantic-bus-maintainers

fix(core): normalize body before HMAC sign (mongo ObjectId)
  packages/core/__tests__/lib/hmac_lib.test.js
  packages/core/lib/hmac_lib.js
Owners: @your-team/semantic-bus-maintainers

docs: session-recovery — fix HMAC ObjectId (44 tests core)
  session-recovery.md
Owners: @your-team/documentation-team

chore(eval-service): lire le secret HMAC depuis config.json (plus d'env)
  docker-compose.yaml
  packages/eval-service/Dockerfile
Owners: @your-team/semantic-bus-maintainers

docs: session-recovery — secret HMAC via config.json, plus d'env pour eval-service
  session-recovery.md
Owners: @your-team/documentation-team

fix(engine): runWhereInRemote lit le champ matches (réponse /where)
  packages/engine/__tests__/utils/whereWorker.test.js
  packages/engine/utils/evalSecurity.js
Owners: @your-team/semantic-bus-maintainers

fix(engine): matérialise les cursors async-itérables (driver mongo)
  packages/engine/__tests__/utils/mongoQueryExecutor.test.js
  packages/engine/utils/mongoQueryExecutor.js
Owners: @your-team/semantic-bus-maintainers

feat(engine): constructeurs whitelistés dans mongoQueryExecutor
  packages/engine/__tests__/utils/mongoQueryExecutor.test.js
  packages/engine/utils/mongoQueryExecutor.js
Owners: @your-team/semantic-bus-maintainers

perf(engine): agent HTTP keep-alive vers le eval-service
  packages/engine/utils/evalSecurity.js
Owners: @your-team/semantic-bus-maintainers

perf(eval-service): pool de workers persistants (contextes vm neufs)
  packages/eval-service/__tests__/eval-service.integration.test.js
  packages/eval-service/__tests__/workerPool.test.js
  packages/eval-service/app.js
  packages/eval-service/evalWorker.js
  packages/eval-service/whereWorker.js
  packages/eval-service/workerPool.js
Owners: @your-team/semantic-bus-maintainers

perf: signature HMAC sur octets bruts (1 sérialisation + 1 parse)
  packages/core/__tests__/lib/hmac_lib.test.js
  packages/core/lib/hmac_lib.js
  packages/engine/utils/evalSecurity.js
  packages/eval-service/__tests__/eval-service.integration.test.js
  packages/eval-service/app.js
Owners: @your-team/semantic-bus-maintainers

docs: remove session-recovery.md, migrate durable info, add vulnerability case file
  CHANGELOG.md
  advisories/SB-RCE-2026-01-case-file.md
  session-recovery.md
  specifications/development-guide.md
  specifications/security-eval-and-code-execution.md
Owners: @your-team/documentation-team

docs: rassemble les advisories dans public/ et internal/, ignore l'interne
  .gitignore
  CHANGELOG.md
  advisories/SB-RCE-2026-01-case-file.md
  advisories/public/2026-08-semantic-bus-rce-eval.md
Owners: @your-team/semantic-bus-maintainers, @your-team/documentation-team

.github/CODEOWNERS:

# Code Owners pour Semantic Bus Engine
# Ces utilisateurs seront automatiquement demand√©s pour review

# Global owners
* @your-team/semantic-bus-maintainers

# Engine core
/engine/ @your-team/engine-team
/engine/services/ @your-team/backend-team
/engine/utils/ @your-team/utils-team

# Tests
/tests/ @your-team/qa-team
/.github/workflows/ @your-team/devops-team

# Configuration et documentation
/docker-compose*.yml @your-team/devops-team
/Dockerfile @your-team/devops-team
/Makefile @your-team/devops-team
*.md @your-team/documentation-team

# Security sensitive files
/engine/security/ @your-team/security-team
/.github/ @your-team/devops-team
