Repository assemblee-virtuelle/Semantic-Bus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-team/semantic-bus-maintainers, @your-team/engine-team, @your-team/backend-team, @your-team/utils-team, @your-team/qa-team, @your-team/devops-team, @your-team/documentation-team, @your-team/security-team

.github/CODEOWNERS:

# Code Owners pour Semantic Bus Engine
# Ces utilisateurs seront automatiquement demand√©s pour review

# Global owners
* @your-team/semantic-bus-maintainers

# Engine core
/engine/ @your-team/engine-team
/engine/services/ @your-team/backend-team
/engine/utils/ @your-team/utils-team

# Tests
/tests/ @your-team/qa-team
/.github/workflows/ @your-team/devops-team

# Configuration et documentation
/docker-compose*.yml @your-team/devops-team
/Dockerfile @your-team/devops-team
/Makefile @your-team/devops-team
*.md @your-team/documentation-team

# Security sensitive files
/engine/security/ @your-team/security-team
/.github/ @your-team/devops-team

docs: structure advisories = un répertoire par faille (SB-RCE-2026-01)
  .gitignore
  CHANGELOG.md
  advisories/SB-RCE-2026-01/2026-08-semantic-bus-rce-eval.md
Owners: @your-team/semantic-bus-maintainers, @your-team/documentation-team

fix(ci): résout les échecs/timeouts de la CI sur la branche
  .github/workflows/tests.yml
  packages/core/lib/engineWorkAuth.js
  packages/engine/utils/evalSecurity.js
  packages/engine/workspaceComponentExecutor/joinByField.js
Owners: @your-team/devops-team, @your-team/semantic-bus-maintainers

fix(security): overrides npm pour les vulnérabilités critiques transitives
  package-lock.json
  package.json
Owners: @your-team/semantic-bus-maintainers

fix(core/tests): utiliser bson (dépendance directe) au lieu de mongodb pour ObjectId
  packages/core/__tests__/lib/hmac_lib.test.js
Owners: @your-team/semantic-bus-maintainers

chore(deps): retire les dépendances inutilisées
  package-lock.json
  packages/engine/package.json
  packages/eval-service/package.json
Owners: @your-team/semantic-bus-maintainers

ci(dependabot): désactive les version-updates, aligne sur le workflow sécurité
  .github/dependabot.yml
Owners: @your-team/devops-team

release: bump to 0.11.1 (security fix RCE)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

fix(security): neutralise le bypass RCE lodash.template dans eval-service
  .gitignore
  packages/engine/__tests__/utils/validateExpression.test.js
  packages/engine/utils/evalSecurity.js
  packages/engine/utils/evalWorker.js
  packages/engine/utils/validateExpression.js
  packages/eval-service/__tests__/eval-service.integration.test.js
  packages/eval-service/__tests__/workerPool.test.js
  packages/eval-service/app.js
  packages/eval-service/evalWorker.js
  packages/eval-service/workerGlobals.js
  packages/eval-service/workerPool.js
Owners: @your-team/semantic-bus-maintainers

perf(eval-service): recyclage de worker rare par défaut (préserve le pool)
  packages/eval-service/app.js
  packages/eval-service/workerPool.js
Owners: @your-team/semantic-bus-maintainers

refactor(eval-service): factorise le contexte vm sécurisé (secureContext.js)
  packages/eval-service/evalWorker.js
  packages/eval-service/secureContext.js
  packages/eval-service/whereWorker.js
Owners: @your-team/semantic-bus-maintainers

refactor(eval): retour au comportement Loki — évaluation ATOMIQUE par item
  packages/engine/__tests__/utils/whereWorker.test.js
  packages/engine/utils/__mocks__/evalSecurity.js
  packages/engine/utils/evalSecurity.js
  packages/engine/utils/whereWorker.js
  packages/engine/workspaceComponentExecutor/arraySplitByCondition.js
  packages/engine/workspaceComponentExecutor/filter.js
  packages/eval-service/__tests__/eval-service.integration.test.js
  packages/eval-service/__tests__/workerPool.test.js
  packages/eval-service/app.js
  packages/eval-service/whereWorker.js
Owners: @your-team/semantic-bus-maintainers

docs(eval): documente pourquoi la boucle for...await remplace le callback Loki
  packages/engine/workspaceComponentExecutor/arraySplitByCondition.js
  packages/engine/workspaceComponentExecutor/filter.js
Owners: @your-team/semantic-bus-maintainers

security(eval-service): réduit le scope d'exposition Buffer et crypto
  packages/eval-service/secureContext.js
Owners: @your-team/semantic-bus-maintainers

security(eval-service): réduit le scope de he (decode/encode) + randomUUID crypto
  packages/eval-service/secureContext.js
Owners: @your-team/semantic-bus-maintainers

security(eval-service): whitelist des méthodes statiques dayjs/moment
  packages/eval-service/secureContext.js
Owners: @your-team/semantic-bus-maintainers

security(eval): whitelist par lib dans le validateur (analyse statique)
  packages/engine/__tests__/utils/validateExpression.test.js
  packages/engine/utils/validateExpression.js
  packages/eval-service/secureContext.js
Owners: @your-team/semantic-bus-maintainers

test(eval): verrouille le blocage des vecteurs natifs Node
  packages/engine/__tests__/utils/validateExpression.test.js
Owners: @your-team/semantic-bus-maintainers

test(eval-service): couvre les vulnérabilités manquantes
  packages/eval-service/__tests__/eval-service.integration.test.js
Owners: @your-team/semantic-bus-maintainers

test(eval-service): couvre tous les patterns prod en intégration
  packages/eval-service/__tests__/eval-service.integration.test.js
Owners: @your-team/semantic-bus-maintainers

release: bump to v0.11.2 (bypass RCE lodash.template)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

docs(advisory): créé l'advisory IDOR sur POST /workspaces/:id/import
  advisories/SB-IDOR-2026-01/2026-08-idor-workspace-import.md
Owners: @your-team/documentation-team

fix(deps): bump body-parser 2.2.0 → 2.3.0 (vulnérabilité moderate DoS)
  package-lock.json
  packages/engine/package.json
Owners: @your-team/semantic-bus-maintainers

docs(skill): crée le skill advisory (format, process, résolution)
  .opencode/skills/advisory/SKILL.md
Owners: @your-team/documentation-team

docs(skill): crée le skill advisory (format, process, résolution)
  .opencode/skills/advisory/SKILL.md
Owners: @your-team/documentation-team

fix(security): corrige IDOR sur POST /workspaces/:id/import + gestion admin en base (SB-IDOR-2026-01)
  advisories/SB-IDOR-2026-01/2026-08-idor-workspace-import.md
  packages/core/__tests__/lib/engineWorkAuth.test.js
  packages/core/__tests__/lib/user_lib.admin.test.js
  packages/core/__tests__/lib/user_lib.bootstrap.test.js
  packages/core/lib/engineWorkAuth.js
  packages/core/lib/user_lib.js
  packages/main/__tests__/server/userAdmin.test.js
  packages/main/__tests__/server/workspaceSecurity.test.js
  packages/main/__tests__/server/wrapperAdmin.test.js
  packages/main/client/static/store/adminStore.js
  packages/main/client/static/store/profilStore.js
  packages/main/client/static/tag/admin.tag
  packages/main/server/services/security.js
  packages/main/server/userWebservices.js
  packages/main/server/workspaceWebService.js
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

release: bump to v0.11.3 (IDOR workspace import + gestion admin)
  CHANGELOG.md
  advisories/SB-IDOR-2026-01/2026-08-idor-workspace-import.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

feat(admin): statistiques users (workflows, inscription, connexions, exécutions) + tri + fix bandeau
  packages/core/__tests__/lib/user_lib.admin.test.js
  packages/core/lib/auth_lib.js
  packages/core/lib/user_lib.js
  packages/core/model_schemas/user_schema.js
  packages/main/client/static/tag/admin.tag
  packages/main/server/userWebservices.js
Owners: @your-team/semantic-bus-maintainers

release: bump to v0.11.4 (admin user stats + tri + fix bandeau)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

ci(lint): ne jamais auto-pusher les correctifs de formatage sur master/main/production
  .github/workflows/lint.yml
Owners: @your-team/devops-team

fix(admin): appelle sortedUsers() dans le template (liste users vide)
  packages/main/client/static/tag/admin.tag
Owners: @your-team/semantic-bus-maintainers

fix(admin): liste users — use computed displayUsers property for each
  packages/main/client/static/tag/admin.tag
Owners: @your-team/semantic-bus-maintainers

docs: règle de validation UI Playwright avant merge + test E2E admin
  agents.md
  tests/e2e/admin-users-render.js
Owners: @your-team/documentation-team, @your-team/qa-team

feat(admin): sépare nb workflows owner / contributeur par user
  packages/core/__tests__/lib/user_lib.admin.test.js
  packages/core/lib/user_lib.js
  packages/main/client/static/tag/admin.tag
  tests/e2e/admin-users-render.js
Owners: @your-team/semantic-bus-maintainers, @your-team/qa-team

release: bump to v0.11.5 (admin owner/contributeur workflows)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

feat(admin): détail des workflows d'un user (accordéon)
  packages/core/__tests__/lib/user_lib.admin.test.js
  packages/core/lib/user_lib.js
  packages/main/client/static/store/adminStore.js
  packages/main/client/static/tag/admin.tag
  packages/main/server/userWebservices.js
  tests/e2e/admin-users-render.js
Owners: @your-team/semantic-bus-maintainers, @your-team/qa-team

release: bump to v0.11.6 (admin workflow details)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

fix(admin): lignes users compressées (hauteur fine/invisible) avec longue liste
  packages/main/client/static/tag/admin.tag
Owners: @your-team/semantic-bus-maintainers

release: bump to v0.11.7 (fix lignes admin)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

feat(admin): suppression d'un utilisateur (admin)
  packages/core/__tests__/lib/user_lib.admin.test.js
  packages/core/lib/user_lib.js
  packages/main/client/static/store/adminStore.js
  packages/main/client/static/tag/admin.tag
  packages/main/server/userWebservices.js
  tests/e2e/admin-users-render.js
Owners: @your-team/semantic-bus-maintainers, @your-team/qa-team

release: bump to v0.11.8 (admin delete user)
  CHANGELOG.md
  package.json
  packages/core/package.json
  packages/engine/package.json
  packages/eval-service/package.json
  packages/main/package.json
  packages/timer/package.json
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers
