Repository assemblee-virtuelle/Semantic-Bus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-team/semantic-bus-maintainers, @your-team/engine-team, @your-team/backend-team, @your-team/utils-team, @your-team/qa-team, @your-team/devops-team, @your-team/documentation-team, @your-team/security-team

.github/CODEOWNERS:

# Code Owners pour Semantic Bus Engine
# Ces utilisateurs seront automatiquement demand√©s pour review

# Global owners
* @your-team/semantic-bus-maintainers

# Engine core
/engine/ @your-team/engine-team
/engine/services/ @your-team/backend-team
/engine/utils/ @your-team/utils-team

# Tests
/tests/ @your-team/qa-team
/.github/workflows/ @your-team/devops-team

# Configuration et documentation
/docker-compose*.yml @your-team/devops-team
/Dockerfile @your-team/devops-team
/Makefile @your-team/devops-team
*.md @your-team/documentation-team

# Security sensitive files
/engine/security/ @your-team/security-team
/.github/ @your-team/devops-team

fix(dfobProcessor): ignore undefined objectToProcess when dfobTable path does not exist, returning empty result
  packages/core/helpers/dfobProcessor.js
Owners: @your-team/semantic-bus-maintainers

api stop process
  .gitignore
  packages/engine/workspaceComponentExecutor/objectTransformer.js
  packages/main/server/workspaceWebService.js
Owners: @your-team/semantic-bus-maintainers

bugfix mongodb
  package-lock.json
  packages/engine/package.json
  packages/engine/workspaceComponentExecutor/MongoDB.js
Owners: @your-team/semantic-bus-maintainers

protect dfobprocessor by force array dfobFlow when path don't exist
  packages/core/helpers/dfobProcessor.js
Owners: @your-team/semantic-bus-maintainers

bugfix filter
  packages/engine/workspaceComponentExecutor/filter.js
Owners: @your-team/semantic-bus-maintainers

Fix TypeError: formUrlencoded is not a function in httpConsumer
  packages/engine/workspaceComponentExecutor/httpConsumer.js
Owners: @your-team/semantic-bus-maintainers

🎨 Minor code improvements in filter.js
  packages/engine/workspaceComponentExecutor/filter.js
Owners: @your-team/semantic-bus-maintainers

🚀 Enable GitHub Actions workflows on Pull Requests
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
Owners: @your-team/devops-team

🎨 Minor code improvements in filter.js (#413)
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  packages/engine/workspaceComponentExecutor/filter.js
Owners: @your-team/devops-team, @your-team/semantic-bus-maintainers

Fix ReferenceError: File is not defined in Docker containers
  packages/engine/Dockerfile
  packages/engine/Dockerfile-alpine
Owners: @your-team/semantic-bus-maintainers

Update package-lock.json after dependency cleanup
  package-lock.json
Owners: @your-team/semantic-bus-maintainers

upgrade node version to 20
  packages/core/yarn.lock
  packages/engine/Dockerfile
  packages/engine/Dockerfile-alpine
  packages/engine/yarn.lock
  packages/timer/yarn.lock
Owners: @your-team/semantic-bus-maintainers

change dfobFragmentSelected logic in copyFragUntilPath
  packages/core/lib/fragment_lib_scylla.js
Owners: @your-team/semantic-bus-maintainers

Update package-lock.json: remove unnecessary bson dependency
  package-lock.json
Owners: @your-team/semantic-bus-maintainers

Regenerate package-lock.json from clean state
  package-lock.json
Owners: @your-team/semantic-bus-maintainers

Regenerate package-lock.json from clean state
  package-lock.json
Owners: @your-team/semantic-bus-maintainers

Add debug log for production server
  packages/engine/workspaceComponentExecutor/valueFromPath.js
Owners: @your-team/semantic-bus-maintainers

Add debug log for production server
  packages/engine/workspaceComponentExecutor/valueFromPath.js
Owners: @your-team/semantic-bus-maintainers

fix: handle _frag references in arrays within copyDataUntilPath
  packages/core/lib/fragment_lib_scylla.js
Owners: @your-team/semantic-bus-maintainers

remove logs
  packages/engine/workspaceComponentExecutor/httpConsumer.js
  packages/engine/workspaceComponentExecutor/valueFromPath.js
Owners: @your-team/semantic-bus-maintainers

chore: remove unnecessary debug console.log statements
  packages/core/lib/fragment_lib_scylla.js
  packages/engine/services/engine.js
  packages/engine/services/technicalComponentDirectory.js
  packages/engine/workspaceComponentExecutor/arraySplitByCondition.js
  packages/main/client/static/application.html
  packages/main/client/static/tag/editorComponents/transformation/array-split-by-condition-editor.tag
  packages/main/server/services/technicalComponentDirectory.js
  packages/main/server/workspaceComponentInitialize/arraySplitByCondition.js
Owners: @your-team/semantic-bus-maintainers

feat: add support for Buffer, RegExp, Map, Set, and ObjectID in propertyNormalizer
  packages/core/dataTraitmentLibrary/ics/index.js
  packages/engine/services/engine.js
  packages/engine/utils/propertyNormalizer.js
  packages/engine/workspaceComponentExecutor/httpConsumer.js
Owners: @your-team/semantic-bus-maintainers

fix: update httpConsumer component
  packages/engine/workspaceComponentExecutor/httpConsumer.js
Owners: @your-team/semantic-bus-maintainers

chore: update fragment_lib_scylla and engine services
  packages/core/lib/fragment_lib_scylla.js
  packages/engine/services/engine.js
Owners: @your-team/semantic-bus-maintainers

chore: update fragment_lib_scylla and engine services
  packages/core/lib/fragment_lib_scylla.js
  packages/engine/services/engine.js
Owners: @your-team/semantic-bus-maintainers

chore: remove debug console.log statements
  packages/core/lib/fragment_lib_scylla.js
  packages/engine/services/engine.js
Owners: @your-team/semantic-bus-maintainers

Add pagination and load more feature to JSON viewer
  packages/main/client/static/store/workspaceStore.js
  packages/main/client/static/tag/jsonFragViewer.tag
Owners: @your-team/semantic-bus-maintainers

chore: add upload/ to gitignore
  .gitignore
Owners: @your-team/semantic-bus-maintainers

fix: rename upload/ to uploads/ in gitignore
  .gitignore
Owners: @your-team/semantic-bus-maintainers

chore: remove uploads/ directory from git tracking
  uploads/660bce8eee0e7dd2a49c0e8d/etalab-cs1100507-stock-20240319-0338_2.csv
  uploads/66e03e4c3c44ec3afd4ffe3d/export_tableau_de_bord_06_08_2024 16-32-07.xlsx
  uploads/6706944d538494dad6ea29f1/Portail AD Food Ideas.json
  uploads/6706944d538494dad6ea29f1/Portail AD France PAT.json
Owners: @your-team/semantic-bus-maintainers

feat(jsonFragViewer): add copy deep object option and fix path calculation
  packages/main/client/static/tag/jsonFragViewer.tag
Owners: @your-team/semantic-bus-maintainers

fix(filter): handle non-object items gracefully instead of crashing
  packages/engine/workspaceComponentExecutor/filter.js
Owners: @your-team/semantic-bus-maintainers

Add production deployment instructions to agents.md
  agents.md
Owners: @your-team/documentation-team

feat: Add HTTP Provider/Consumer linking feature
  agents.md
  packages/main/app.js
  packages/main/client/static/application.html
  packages/main/client/static/store/httpLinksStore.js
  packages/main/client/static/tag/editorComponents/dataFlow/http-consumer-editor.tag
  packages/main/client/static/tag/editorComponents/dataFlow/http-provider-editor.tag
  packages/main/client/static/tag/workspace/workspace-zen-table.tag
  packages/main/server/workspaceWebService.js
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

refactor: Simplify HTTP links algorithm - extract component ID only
  packages/main/client/static/tag/workspace/workspace-zen-table.tag
  packages/main/server/workspaceWebService.js
Owners: @your-team/semantic-bus-maintainers

fix: improve error handling in joinByField for non-object data
  packages/engine/workspaceComponentExecutor/joinByField.js
Owners: @your-team/semantic-bus-maintainers

fix: improve scrapper test error handling to accept webdriverio errors
  packages/engine/__tests__/scrapper.test.js
  packages/engine/workspaceComponentExecutor/joinByField.js
Owners: @your-team/semantic-bus-maintainers

fix: remove unused request dependency to fix critical security vulnerabilities
  packages/core/package.json
  packages/core/timerScheduler.js
Owners: @your-team/semantic-bus-maintainers

fix: remove unused request dependency from main package
  packages/main/app.js
  packages/main/package.json
  packages/main/report.20221005.230231.45.0.001.json
  packages/main/report.html
  packages/main/server/workspaceComponentInitialize/httpProvider.js
  packages/main/server/workspaceComponentInitialize/upload.js
Owners: @your-team/semantic-bus-maintainers

fix: remove unused request dependency from engine package
  packages/engine/app.js
  packages/engine/package.json
Owners: @your-team/semantic-bus-maintainers
