Repository assemblee-virtuelle/Semantic-Bus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-team/semantic-bus-maintainers, @your-team/engine-team, @your-team/backend-team, @your-team/utils-team, @your-team/qa-team, @your-team/devops-team, @your-team/documentation-team, @your-team/security-team

.github/CODEOWNERS:

# Code Owners pour Semantic Bus Engine
# Ces utilisateurs seront automatiquement demand√©s pour review

# Global owners
* @your-team/semantic-bus-maintainers

# Engine core
/engine/ @your-team/engine-team
/engine/services/ @your-team/backend-team
/engine/utils/ @your-team/utils-team

# Tests
/tests/ @your-team/qa-team
/.github/workflows/ @your-team/devops-team

# Configuration et documentation
/docker-compose*.yml @your-team/devops-team
/Dockerfile @your-team/devops-team
/Makefile @your-team/devops-team
*.md @your-team/documentation-team

# Security sensitive files
/engine/security/ @your-team/security-team
/.github/ @your-team/devops-team

Modifications avant synchronisation des branches
  engine/workspaceComponentExecutor/valueFromPath.js
Owners: @your-team/engine-team

Replace local eslint paths with npx for more flexible linting commands
  engine/package.json
  main/package.json
Owners: @your-team/engine-team, @your-team/semantic-bus-maintainers

Refactor ESLint configuration to more comprehensive and flexible ruleset
  main/.eslintignore
  main/.eslintrc.js
  main/.eslintrc.json
Owners: @your-team/semantic-bus-maintainers

Mock Cassandra and Scylla dependencies for improved test setup
  engine/__tests__/workspaceComponentExecutor/httpConsumer.test.js
  engine/jest.setup.js
Owners: @your-team/engine-team

Refactor E2E tests workflow and update test configuration
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  package.json
  tests/README.md
Owners: @your-team/devops-team, @your-team/semantic-bus-maintainers, @your-team/documentation-team

🔧 fix: Configure E2E tests as manual-only workflow
  .github/workflows/e2e-tests.yml
  tests/README.md
Owners: @your-team/devops-team, @your-team/documentation-team

Refactor test mocks and improve testing infrastructure for httpConsumer
  engine/__mocks__/cassandra-driver.js
  engine/__mocks__/core/dataTraitmentLibrary/file_convertor.js
  engine/__mocks__/core/db/scylla_client.js
  engine/__mocks__/core/getConfiguration.js
  engine/__mocks__/core/lib/file_lib_scylla.js
  engine/__mocks__/core/lib/fragment_lib_scylla.js
  engine/__mocks__/core/model_schemas/file_schema_scylla.js
  engine/__mocks__/core/models/file_model_scylla.js
  engine/__tests__/workspaceComponentExecutor/httpConsumer.simple.test.js
  engine/__tests__/workspaceComponentExecutor/httpConsumer.test.js.disabled
  engine/jest.setup.js
  engine/package-lock.json
  engine/package.json
Owners: @your-team/engine-team

🔒 security: Fix critical and high severity vulnerabilities
  SECURITY_AUDIT.md
  engine/package-lock.json
  engine/package.json
  engine/yarn.lock
  main/package-lock.json
  main/package.json
  main/yarn.lock
Owners: @your-team/documentation-team, @your-team/engine-team, @your-team/semantic-bus-maintainers

🔒 security: Fix npm vulnerabilities and update dependencies
  engine/package-lock.json
  engine/package.json
  engine/yarn.lock
Owners: @your-team/engine-team

📋 docs: Add comprehensive security improvements documentation
  SECURITY_IMPROVEMENTS.md
Owners: @your-team/documentation-team

🔒 security: Achieve ZERO vulnerabilities by removing WebDriver.io and updating ICS parser
  core/dataTraitmentLibrary/ics/index.js
  engine/package-lock.json
  engine/package.json
  engine/yarn.lock
Owners: @your-team/semantic-bus-maintainers, @your-team/engine-team

📋 docs: Update security documentation to reflect ZERO vulnerabilities achievement
  SECURITY_IMPROVEMENTS.md
Owners: @your-team/documentation-team

🔒 security: Complete cleanup of ical-js-parser across ALL modules
  core/package-lock.json
  core/package.json
  core/yarn.lock
  main/package-lock.json
  main/package.json
  main/server/workspaceComponentInitialize/imap.js
  main/yarn.lock
Owners: @your-team/semantic-bus-maintainers

pass tests
  main/package-lock.json
  main/yarn.lock
  timer/__tests__/app.test.js
  timer/package-lock.json
  timer/yarn.lock
Owners: @your-team/semantic-bus-maintainers

fix: configuration Jest restrictive pour exclure les tests JSTree
  .gitignore
  core/jest.config.js
  engine/jest.config.js
  main/jest.config.js
  timer/jest.config.js
Owners: @your-team/semantic-bus-maintainers, @your-team/engine-team

tests
  .circleci/config.yml
  package-lock.json
  package.json
Owners: @your-team/semantic-bus-maintainers

fix: résolution définitive du problème JSTree en CI GitHub Actions
  .github/workflows/pr-tests.yml
  .jestignore
Owners: @your-team/devops-team, @your-team/semantic-bus-maintainers

fix: suppression du cache npm dans GitHub Actions pour architecture modulaire
  .github/workflows/pr-tests.yml
Owners: @your-team/devops-team

fix: ajout des scripts test:coverage et test:watch au module engine
  engine/package.json
Owners: @your-team/engine-team

docs: suppression des références historiques à CircleCI
  TESTS_SETUP_SUMMARY.md
Owners: @your-team/documentation-team

test: vérification suppression CircleCI
  test-circleci-removal.txt
Owners: @your-team/semantic-bus-maintainers

force
  README.md
Owners: @your-team/documentation-team

test: déclencher CI/CD pour vérifier si CircleCI se déclenche encore
  README.md
Owners: @your-team/documentation-team

test: vérification suppression CircleCI des status checks GitHub
  test-circleci-removal.txt
Owners: @your-team/semantic-bus-maintainers

test: verification finale suppression CircleCI
  test-final.txt
Owners: @your-team/semantic-bus-maintainers

clean: suppression des fichiers de test temporaires pour CircleCI
  fix-circleci.sh
  test-circleci-removal.txt
  test-final.txt
Owners: @your-team/semantic-bus-maintainers

clean unecessary tests test and refactor component impacted by dependencies evolution
  core/Oauth/google_auth_strategy.js
  core/dataTraitmentLibrary/exel/exel_traitment.js
  core/dataTraitmentLibrary/file_convertor.js
  core/helpers/promiseOrchestrator.js
  core/lib/fragment_lib_scylla.js
  core/lib/workspace_component_lib.js
  core/lib/workspace_lib.js
  core/models/file_model_scylla.js
  core/models/fragments_model_scylla.js
  core/models/generic_model_dynamo.js
  engine/__tests__/services/engine.test.js
  engine/__tests__/workspaceComponentExecutor/httpConsumer.simple.test.js
  engine/communication/index.js
  engine/services/engine.js
  engine/workspaceComponentExecutor/httpConsumer.js
  engine/workspaceComponentExecutor/jsonld-conversion.js
  engine/workspaceComponentExecutor/propertiesMatrix.js
  engine/workspaceComponentExecutor/scrapper/scrapper.js
  engine/workspaceComponentExecutor/sftpConsumer.js
  engine/workspaceComponentExecutor/valueFromPath.js
  main/server/workspaceComponentInitialize/upload.js
Owners: @your-team/semantic-bus-maintainers, @your-team/engine-team, @your-team/backend-team

feat: Migration complète des dépendances et amélioration de la qualité
  .github/workflows/dependency-quality-control.yml
  DEPENDENCY_MIGRATION.md
  core/package-lock.json
  core/package.json
  core/yarn.lock
  engine/package-lock.json
  engine/package.json
  engine/yarn.lock
  main/package-lock.json
  main/package.json
  main/yarn.lock
  package.json
  timer/package-lock.json
  timer/package.json
  timer/yarn.lock
Owners: @your-team/devops-team, @your-team/documentation-team, @your-team/semantic-bus-maintainers, @your-team/engine-team

feat: Configuration Node.js 20 LTS et finalisation de la migration
  .nvmrc
  DEPENDENCY_MIGRATION.md
  core/yarn.lock
  engine/yarn.lock
  main/yarn.lock
  timer/yarn.lock
Owners: @your-team/semantic-bus-maintainers, @your-team/documentation-team, @your-team/engine-team

Optimisation des workflows GitHub Actions et correction des dépendances
  .github/workflows/ci.yml
  .github/workflows/dependency-quality-control.yml
  .github/workflows/pr-tests.yml
Owners: @your-team/devops-team

Fix scripts manquants dans les workflows GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/pr-tests.yml
Owners: @your-team/devops-team

Restructuration complète des workflows - Tests par module uniquement au push
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pr-tests.yml
Owners: @your-team/devops-team

🚀 REFONTE MAJEURE: Restructuration complète des workflows CI/CD
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/dependency-quality-control.yml
  .github/workflows/main-ci.yml
  .github/workflows/pr-tests.yml
Owners: @your-team/devops-team

🔧 Fix ESLint configuration et annulations GitHub Actions
  .github/workflows/main-ci.yml
  packages/engine/eslint.config.js
  packages/main/eslint.config.js
Owners: @your-team/devops-team, @your-team/semantic-bus-maintainers

🎯 Simplification workflow CI - Suppression build/deploy
  .github/workflows/main-ci.yml
Owners: @your-team/devops-team

🔧 Fix Code Standards - Jobs indépendants + Cache NPM
  .github/workflows/main-ci.yml
Owners: @your-team/devops-team

🔧 Fix erreur cache NPM - Suppression complète du cache
  .github/workflows/main-ci.yml
Owners: @your-team/devops-team

🔧 Fix tests module engine - Solution temporaire pour CI
  packages/engine/__tests__/README_TESTS_DISABLED.md
  packages/engine/__tests__/utils/objectTransformation-unitaires.test.js.disabled
  packages/engine/__tests__/utils/objectTransformation.test.js.disabled
  packages/engine/__tests__/utils/stringReplacer.test.js.disabled
  packages/engine/jest.config.js
  packages/engine/jest.setup.js
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

🔧 Optimisation workflow CI : quality control bloquant + tests par version Node Dockerfile
  .github/workflows/main-ci.yml
Owners: @your-team/devops-team

⚡ Workflow CI : suppression des dépendances entre jobs
  .github/workflows/main-ci.yml
Owners: @your-team/devops-team
