Repository assemblee-virtuelle/Semantic-Bus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-team/semantic-bus-maintainers, @your-team/engine-team, @your-team/backend-team, @your-team/utils-team, @your-team/qa-team, @your-team/devops-team, @your-team/documentation-team, @your-team/security-team

📚 README workflow : documentation architecture ultra-parallèle
  .github/workflows/README.md
Owners: @your-team/devops-team

🔧 Fix: Ajout fail-fast: false pour tests vraiment indépendants
  .github/workflows/main-ci.yml
Owners: @your-team/devops-team

🔧 Timer: migration vers Node 18 + optimisation CI
  .github/workflows/main-ci.yml
  packages/timer/Dockerfile
  packages/timer/Dockerfile-alpine
Owners: @your-team/devops-team, @your-team/semantic-bus-maintainers

✅ Timer: amélioration des tests + mise à jour documentation
  .github/workflows/README.md
  packages/timer/__tests__/app.test.js
Owners: @your-team/devops-team, @your-team/semantic-bus-maintainers

🔧 Fix: correction tests timer
  packages/timer/__tests__/app.test.js
Owners: @your-team/semantic-bus-maintainers

🔀 Refactoring: séparation CI en 3 workflows modulaires
  .github/workflows/README.md
  .github/workflows/lint.yml
  .github/workflows/main-ci.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
Owners: @your-team/devops-team

🎨 Feature: Formatage automatique dans CI lint workflow
  .github/workflows/README.md
  .github/workflows/lint.yml
Owners: @your-team/devops-team

🔧 Test: déclenchement workflows CI
  .github/workflows/README.md
  packages/core/MOCK_RATIONALE.md
  packages/core/TESTING.md
  packages/core/__mocks__/@aws-sdk/client-dynamodb.js
  packages/core/__mocks__/@aws-sdk/lib-dynamodb.js
  packages/core/__mocks__/README.md
  packages/core/__mocks__/cassandra-driver.js
  packages/core/__mocks__/imap.js
  packages/core/__mocks__/mongoose.js
  packages/core/__mocks__/node-imap.js
  packages/core/__mocks__/passport-google-oauth.js
  packages/core/__mocks__/passport.js
  packages/core/__tests__/integration/core-dependencies.test.js
  packages/core/copy-mocks-to-other-modules.js
  packages/core/jest.config.js
Owners: @your-team/devops-team, @your-team/documentation-team, @your-team/semantic-bus-maintainers

🔧 Fix: scripts lint manquants + standardisation configurations
  .github/workflows/lint.yml
  packages/core/eslint.config.js
  packages/core/package.json
  packages/engine/package.json
  packages/main/package.json
  packages/timer/eslint.config.js
  packages/timer/package.json
Owners: @your-team/devops-team, @your-team/semantic-bus-maintainers

🔧 Fix: conversion ESLint configs vers CommonJS
  packages/core/eslint.config.js
  packages/core/package.json
  packages/engine/eslint.config.js
  packages/engine/package.json
  packages/main/eslint.config.js
  packages/main/package.json
  packages/timer/eslint.config.js
  packages/timer/package.json
Owners: @your-team/semantic-bus-maintainers

🎨 Auto-format: Timer package code formatting
  packages/timer/app.js
  packages/timer/eslint.config.js
  packages/timer/jest.config.js
  packages/timer/jest.setup.js
Owners: @your-team/semantic-bus-maintainers

🎨 Demo: formatage automatique ESLint en action
  packages/timer/app.js
  packages/timer/eslint.config.js
  packages/timer/jest.config.js
  packages/timer/jest.setup.js
Owners: @your-team/semantic-bus-maintainers

🚀 Trigger: relancement workflows CI après corrections ESLint
  .github/workflows/README.md
Owners: @your-team/devops-team

🔧 Add: scripts lint:fix au niveau monorepo
  package.json
Owners: @your-team/semantic-bus-maintainers

feat: Fix scrapper WebDriver compatibility
  packages/engine/Dockerfile-alpine
  packages/engine/package.json
  packages/engine/workspaceComponentExecutor/scrapper/scrapper.js
Owners: @your-team/semantic-bus-maintainers

fix: Update GitHub Actions to use Node.js 20.x
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
Owners: @your-team/devops-team

fix: Update package-lock.json to sync with package.json dependencies
  package-lock.json
Owners: @your-team/semantic-bus-maintainers

🎨 Auto-format: Engine package code formatting
  packages/engine/services/engine.js
Owners: @your-team/semantic-bus-maintainers

fix: Fix auth_lib.js config import for core package tests
  packages/core/lib/auth_lib.js
Owners: @your-team/semantic-bus-maintainers

fix: Corrections critiques - anti-pattern new Promise(async) et clé dupliquée
  packages/core/lib/fragment_lib.js
  packages/core/model_schemas/historiqueEnd_shema.js
Owners: @your-team/semantic-bus-maintainers

refactor: Suppression du test de vérification de syntaxe redondant avec le linter
  packages/core/__tests__/async-promise-fixes.test.js
Owners: @your-team/semantic-bus-maintainers

fix: Améliorer la logique de workflow de linting
  .github/workflows/lint.yml
Owners: @your-team/devops-team

fix: Correction de 5 erreurs critiques ESLint supplémentaires
  packages/core/helpers/dfobHelper.js
  packages/core/lib/cache_lib.js
  packages/core/lib/fragment_lib.js
Owners: @your-team/semantic-bus-maintainers

fix: Correction de 6 erreurs critiques ESLint supplémentaires
  packages/core/lib/bigdataflow_lib.js
  packages/core/lib/cache_lib.js
  packages/core/lib/file_lib.js
  packages/core/lib/fragment_lib_scylla.js
Owners: @your-team/semantic-bus-maintainers

fix: Correction massive de 15 erreurs critiques ESLint
  packages/core/dataTraitmentLibrary/xml/xml_traitment.js
  packages/core/lib/user_lib.js
  packages/core/lib/workspace_component_lib.js
Owners: @your-team/semantic-bus-maintainers

fix: Élimination COMPLÈTE de toutes les erreurs critiques ESLint
  packages/core/dataTraitmentLibrary/file_convertor.js
  packages/core/dataTraitmentLibrary/rdf/rdf_traitment.js
  packages/core/helpers/promiseOrchestrator.js
  packages/core/lib/workspace_lib.js
Owners: @your-team/semantic-bus-maintainers

🎨 Auto-format: Core package code formatting
  packages/core/lib/cache_lib.js
  packages/core/lib/workspace_lib.js
Owners: @your-team/semantic-bus-maintainers

test: Vérification du comportement auto-formatage
  packages/core/lib/workspace_lib.js
Owners: @your-team/semantic-bus-maintainers

clean: Suppression du commentaire de test
  packages/core/lib/workspace_lib.js
Owners: @your-team/semantic-bus-maintainers

Update dependencies and Docker config for workspace architecture
  packages/engine/package.json
  packages/main/Dockerfile-alpine
  packages/main/package.json
Owners: @your-team/semantic-bus-maintainers

fix: Remove unnecessary dependencies
  packages/main/package.json
Owners: @your-team/semantic-bus-maintainers

fix: Remove unused amqplib dependency from engine package
  packages/engine/package.json
Owners: @your-team/semantic-bus-maintainers

refactor: Remove unused copy-mocks-to-other-modules.js script
  SECURITY_AUDIT.md
  SECURITY_IMPROVEMENTS.md
  TESTS_SETUP_SUMMARY.md
  fix-circleci.sh
  fix-imports-safe.sh
  fix-imports-simple.sh
  fix-remaining-imports.sh
  packages/core/TESTING.md
  packages/core/copy-mocks-to-other-modules.js
  packages/engine/app.js
  packages/main/client/static/js/jsonEditor/HISTORY.md
Owners: @your-team/documentation-team, @your-team/semantic-bus-maintainers

refactor: Remove obsolete setup-tests.sh script
  engine/config.json
  main/config.json
  scripts/setup-tests.sh
Owners: @your-team/engine-team, @your-team/semantic-bus-maintainers

feat: Modernize Docker infrastructure - Remove wait-for scripts
  DEPENDENCY_MIGRATION.md
  Makefile
  docker-compose-host.yaml
  docker-compose-network.yaml
  docker-compose.yaml
  packages/engine/Dockerfile-alpine
  packages/main/Dockerfile-alpine
  packages/timer/Dockerfile-alpine
  wait-for-it.sh
  wait-for.sh
Owners: @your-team/documentation-team, @your-team/devops-team, @your-team/semantic-bus-maintainers

docs: Clarify configuration setup in README
  README.md
Owners: @your-team/documentation-team

remove select.sh
  select.sh
Owners: @your-team/semantic-bus-maintainers

add peer dependency
  packages/engine/package.json
  packages/main/package.json
Owners: @your-team/semantic-bus-maintainers

remove eslint-config-standard
  packages/core/package.json
Owners: @your-team/semantic-bus-maintainers

Autorise le suivi des dossiers dist de jsonEditor et jszip pour la prod
  packages/main/client/static/js/jsonEditor/dist/img/jsoneditor-icons.svg
  packages/main/client/static/js/jsonEditor/dist/jsoneditor-minimalist.js
  packages/main/client/static/js/jsonEditor/dist/jsoneditor-minimalist.map
  packages/main/client/static/js/jsonEditor/dist/jsoneditor-minimalist.min.js
  packages/main/client/static/js/jsonEditor/dist/jsoneditor.css
  packages/main/client/static/js/jsonEditor/dist/jsoneditor.js
  packages/main/client/static/js/jsonEditor/dist/jsoneditor.js.map
  packages/main/client/static/js/jsonEditor/dist/jsoneditor.map
  packages/main/client/static/js/jsonEditor/dist/jsoneditor.min.css
  packages/main/client/static/js/jsonEditor/dist/jsoneditor.min.js
  packages/main/client/static/js/jsonEditor/dist/which files do I need.md
  packages/main/client/static/js/jszip/dist/jszip.js
Owners: @your-team/semantic-bus-maintainers, @your-team/documentation-team

.github/CODEOWNERS:

# Code Owners pour Semantic Bus Engine
# Ces utilisateurs seront automatiquement demand√©s pour review

# Global owners
* @your-team/semantic-bus-maintainers

# Engine core
/engine/ @your-team/engine-team
/engine/services/ @your-team/backend-team
/engine/utils/ @your-team/utils-team

# Tests
/tests/ @your-team/qa-team
/.github/workflows/ @your-team/devops-team

# Configuration et documentation
/docker-compose*.yml @your-team/devops-team
/Dockerfile @your-team/devops-team
/Makefile @your-team/devops-team
*.md @your-team/documentation-team

# Security sensitive files
/engine/security/ @your-team/security-team
/.github/ @your-team/devops-team
